.intro-head{
    padding-right: 585px;
    padding-top: 220px;

}
.ssintro1{
    padding-right: 340px;
    font-weight: 500;
    
}

.ssintro2{
    padding-right: 23px;
}
.ssss{
    padding-top: 50px;
}